<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans&subset=latin" rel="stylesheet" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/bootstrap.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/main.css">
  <script src="{{ SITEURL }}/theme/modernizr-2.6.2-respond-1.1.0.min.js"></script>

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% endblock head %}
</head>

<body id="index" class="home">
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <div class="header">
    <div class="container">
      <div>
        <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        <span class="subtitle">Jeff McGee's Blog of Messages Worth Passing </span>
      </div>
    </div>
  </div>

  <div class="body container">
    <div class="row">
      <div class="span9">
        <div class="well">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div class="span3">

        <div class="well">
          <img class="profile" src="http://en.gravatar.com/avatar/f3e64d7e337eb79b66c7110ba5113f07?s=128" width="128" height="128" alt='my photo'/>
          <p>
          Jeff McGee &mdash;
          builder, problem solver, teacher, and general nerd.
          </p>

          Github:<br/>
          @<a href="http://github.com/jeffamcgee">JeffAMcGee</a><br />
          Twitter:</br>
          @<a href="http://twitter.com/jeffamcgee">JeffAMcGee</a><br />
          Email: <br />
          jeffamcgee AT gmail
          </p>
        </div>

        <div class="well">
          <nav id="menu">
          {% for title, link in MENUITEMS %}
              <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}

          <ul>
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in PAGES %}
              <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
          {% endif %}
          </ul>

          </nav><!-- /#menu -->
        </div>

      </div>
    </div>
  </div> <!-- /container -->

  <div class="footer container">
    <div>
      &copy; 2013 Jeff McGee &mdash;
      Content on this site is licensed under a <a rel="license"
        href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution
        License</a>. Sample code is placed in the public domain.
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/jquery-1.9.1.min.js"><\/script>')</script>

  <script src="{{ SITEURL }}/theme/bootstrap.min.js"></script>

  <script>
    /* FIXME: I really don't like using javascript to make the white area go to the bottom of the screen. */
    var fixSize = function() {
      var inner = $('.footer div').outerHeight();
      var space = $(window).height()-($('.footer').position().top+inner);
      if (space>0)
          $('.footer').height(space+inner);
    }
    $(window).resize(fixSize);
    $(window).ready(fixSize);
  </script>

  <!--<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>-->
</body>
</html>
