/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Open Sans", sans-serif;
    background: #FFFAEA;
    color: #000036;
}

.span4 {
    /* teal-blue-purple gradient */
    background: #2468a5;
    background: -moz-linear-gradient(left, #2468a5 0%, #3333b3 50%, #5e29ad 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2468a5), color-stop(50%,#3333b3), color-stop(100%,#5e29ad));
    background: -webkit-linear-gradient(left, #2468a5 0%,#3333b3 50%,#5e29ad 100%);
    background: -o-linear-gradient(left, #2468a5 0%,#3333b3 50%,#5e29ad 100%);
    background: -ms-linear-gradient(left, #2468a5 0%,#3333b3 50%,#5e29ad 100%);
    background: linear-gradient(to right, #2468a5 0%,#3333b3 50%,#5e29ad 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2468a5', endColorstr='#5e29ad',GradientType=1 );
}

.span8 {
    /* purple-blue-teal gradient */
    background: #5e29ad;
    background: -moz-linear-gradient(left, #5e29ad 0%, #3333b3 50%, #2468a5 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5e29ad), color-stop(50%,#3333b3), color-stop(100%,#2468a5));
    background: -webkit-linear-gradient(left, #5e29ad 0%,#3333b3 50%,#2468a5 100%);
    background: -o-linear-gradient(left, #5e29ad 0%,#3333b3 50%,#2468a5 100%);
    background: -ms-linear-gradient(left, #5e29ad 0%,#3333b3 50%,#2468a5 100%);
    background: linear-gradient(to right, #5e29ad 0%,#3333b3 50%,#2468a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e29ad', endColorstr='#2468a5',GradientType=1 );
}

h1 {
    font-weight: normal;
}

.header {
    color: #FFFAEA;
    padding-bottom: .5em;
    background: #3333b3;
    border-bottom: 8px solid #A4A4FF;
    width: 100%;
}

.header .container div, .footer div {
    padding-left: 19px;
}

.footer {
    font-size: .8em;
    color: #393959;
    background-color: white;
}

.body.container {
    background-color: white;
    padding-bottom: 10px;
}

.well {
    background-color: white;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    margin: 0px 0px 8px 0px;
}

a {
    color: #2468A5;
    text-decoration: underline;
}
a:hover {
    color: #5E29AD;
}
a:visited {
    color: #5E29AD;
}
img.profile {
    float: left;
    margin-right: 8px;
}

#post-list {
    list-style: none;
    margin: 0;
}
h2.entry-title {
    margin-bottom: 0;
}

footer.post-info {
    font-size: .8em;
    color: #393959;
    line-height: 1;
    margin-bottom: .5em;
}

